.new-polls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .form-create {
    display: flex;
    justify-content: center;
  }
  .button-create {
    width: 200px;
  }
}
